*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logoSec{
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 10px;
  gap:  15px;
}
.logo img{
  width: 60px;
  cursor: pointer;
}
.logoSec h1{
  font-size: 1.8rem;
  color: #fff;
  text-decoration: none;
}
.logo{
  font-size: 1.2rem;
  color: #fff;
  text-decoration: none;
}
.navBar{
  width: 100%;
  height: 60px;
  background-color: rgb(23, 23, 72);
  top: 0;
  position: sticky;
  z-index: 1000;
}
.nav{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}

.navItems{
  display: flex;
  align-items: center;
  list-style: none;
  gap: 25px;
  transition: 0.3s;
}
.navItems li a{
  color: #fff;
  font-size: 1.1rem;
  text-decoration: none;
  transition: 0.3s;
}
 
.navItems a:hover{
  color: #007bff;
}
#homeLink a{
  color: #007bff;
}
.GetStarted-btn{
  padding: 10px 20px;
  font-weight: bold;
  background: #176ed1;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.hero{
  width: 100%;
  height: 100vh;
}

.heroImg{
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-image: url('../public/hero.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.hero-content{
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, rgba(0,0,0,0.3), rgba(0,0,0,0.4));
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 10;
  padding: 8rem 4rem;

}

.hero-content h1 {
  font-size: 4rem;
  color: #fff;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
  margin-bottom: 10px;
}
.hero-content h1 span{
    color: #176ed1;
}

.hero-content p{
  font-size: 1.2rem;
  color: #fff;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
  margin-bottom: 20px;
  text-align: justify;
  line-height: 1.6;
}

.btn-all{
  width: 500px;
  display: flex;
  gap: 20px;
 
}

.btn{
  color: white;
  background-color: rgba(212, 37, 37, 0.967);
  width: 200px;
  border: none;
  padding: 15px 5px;
  border-radius: 5px;
  cursor: pointer;
  
}
.btn:hover{
  background-color: rgba(160, 27, 27, 1);
  color: white;
}
.btn-know{
  color: red;
  width: 200px;
  padding: 15px 5px;
  background-color: rgba(235, 229, 229, 0.967);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.touch-section{
  width: 100%;
  height: 100vh;
  background-color: #f5f5f5;
  padding: 50px;
}
.touch{
  display: flex;
  justify-content: center;
  align-items: center;
}
.touch img{
  width: 680px;
  height: 500px;
  transform: translateX(2rem);
}
.touch .content-touch{
  width: 700px;
  height: 580px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 6rem;
  background-color: rgb(189, 200, 211);
}
.touch .content-touch h2{
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.touch .content-touch p{
  font-size: 1.1rem;
  line-height: 1.6;
}
.content-touch button{
  color: white;
  background-color: rgba(25, 111, 222, 0.967);
  border: none;
  padding: 15px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 1rem;
}
.content-touch button:hover{
  background-color: transparent;
  border: 2px solid rgba(25, 111, 222, 1);
  color: white;
}
.review-section{
  width: 100%;
  height: fit-content;
  background-color: #f5f5f5;
  padding: 3rem 2rem;
}
.reviews{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;

}
.review{
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  margin-bottom: 3.5rem;
}
.review-text{
  background-color: white;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
  border-radius: 10px;
  padding: 20px;
}
.review p{
  margin-bottom: 1rem;
  font-size: 1.1rem;
  line-height: 1.6;
  color: #444;
}
.review-author{
  font-size: 1.1rem;
  color: #666;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 1rem;

}
.review-author img{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 10px;
}
.footer-section{
  width: 100%;
  height: 48vh;
  background-color: rgb(11, 106, 68);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;  
}
.home-footer{
  width: 80%;
  height: 100%;
  padding: 2rem  0; 
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
}
.home-footer ul{
  list-style: none;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.home-footer ul li{
  font-size: 1.1rem;
}
.home-footer a{
  color: #fff;
  text-decoration: none;
}
.home-footer p{
  font-size: 1.1rem;
  margin-bottom: 20px;
  text-align: center;
}

.home-footer .socialMedia{
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  align-items: center;
  margin-top: 20px;
  font-size: 1.2rem;
  justify-content: center;
}

/* Quotes section */


.quoteSection{
  width: 100%;

  background-color: #f5f5f5;
}
.quotes{
  width: 80%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  padding: 2rem 2.5rem;
  border-radius: 20px;
  margin: 1.5rem auto;
  background-color: rgb(33, 33, 65);
}
.quotesPara{
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
}
.quoteWritter{
  font-size: 1.1rem;
  color: #8c8383;
  margin-top: 1rem;
  text-align: right;
}